@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
}

#main_div {
	width: 1024px;
	margin: auto;
	margin-top: 100px;
	text-align: center;
}

.main_logo {
	width: 400px;
	height: 200px;
}

.title {
	font-size: 40px;
    font-family: cursive;
}

.login_div {
	margin-top: 30px;
}

.user_id, .user_pw{
	width: 500px;
    height: 45px;
    border-radius: 10px;
    border: 0.1px solid darkgray;
    padding: 10 10 5;
    font-size: 25px;
    margin-bottom: 7px;
}


.login_btn {
	width: 500px;
	height: 45px;
	border-radius: 10px;
	border: 0.1px solid darkgray;
	margin-bottom: 5px;
	background-color: aliceblue;
}

#naver_id_login img{
	width: 500px;
	height: 45px;
	border-radius: 10px;
	border: 0.1px solid darkgray;
	margin-bottom: 5px;
}

.user_btn {
	font-size: 25px;
}
.find_div {
	width: 400px;
    margin: auto;
}

.findSub_div {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
}




