@charset "UTF-8";

#changeInfo_div {
	width: 1024px;
	margin: auto;
}

.top_div {
	width: 600px;
    margin: auto;
    text-align: center;
}

.sub_div {
	width: 600px;
	margin: auto;
}









