@charset "UTF-8";

/* --------- 모달창 띄우기 ------------------ */
html, body {
	height: 100%;
	margin: 0;
}

.mw {
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.mw .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: gray;
	opacity: .5;
}

.mw .fg {
	position: absolute;
    width: 300;
    height: 450px;
    background-color: white;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.window_close {
	text-align: end;
}

.modal_close {
	width: 20px;
	height: 20px;
}

.friendInsertDiv {
	padding: 20px;
}

.flex_border {
	border-bottom: 1px solid darkgray;
    display: flex;
    margin-bottom: 30px;
}

.friendInsertTitle {
	font-size: 18px;
    margin-bottom: 25px;
}

.phInsert, .idInsert {
	font-size: 14px;
	margin-right: 15px;
	padding-bottom: 10px;
	cursor: pointer;
}

.friendName, .friendPh, .friendId {
	width: 260px;
    height: 30px;
    border: none;
    border-bottom: 0.1px solid gray;
    margin-bottom: 10px;
    outline: 0px;
}

.notice {
	font-size: 13px;
}

.friendNameInsertBtn, .friendIdInsertBtn {
	position: absolute;
    bottom: 20px;
    right: 40px;
    width: 100px;
    height: 35px;
    border: none;
    background-color: #f3e42b;
    cursor: pointer;
}


/* ----------- 메인 css -------------------- */

body {
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
}

.flex_between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


#main_div {
	width: 400px;
	margin: auto;
	text-align: center;
}

.main_logo {
	width: 300px;
	height: 110px;
}

.left_div {
	background-color: #e3e1e1;
	width: 65px;
	padding-top: 30px;
}

.person_img, .talk_img {
	width: 40px;
	height: 40px;
	margin-bottom: 25px;
}

.emoji_img {
	width: 40px;
	height: 40px;
	margin-bottom: 25px;
}

.alarm_img, .change_img {
	width: 30px;
	height: 30px;
	margin-bottom: 25px;
}

.jum_img {
	width: 30px;
	height: 30px;
	margin-bottom: 200px;
}

/* ------------- right -------------------- */
.right_div {
	width: 335px;
	padding: 30 15 0;
}

.sub_title {
	font-size: 20px;
}

.friendSearch_img {
	width: 30px;
	height: 30px;
}

.firendInsert_img {
	width: 30px;
	height: 27px;
	margin-left: 15px;
}

.friendSearchDiv {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.border_div {
	border: 0.1px solid darkgray;
	border-radius: 30px;
	width: 270px;
	height: 30px;
	padding-top: 3px;
}

.friendSearchInput {
	width: 155px;
	height: 30px;
	font-size: 17px;
	border: none;
	outline: 0px;
}

.middleLine {
	color: darkgray;
}

.friendSearchBtn {
	background-color: white;
	border: none;
	font-size: 15px;
	cursor: pointer;
}

.close_img {
	width: 30px;
	height: 30px;
	margin-left: 6px;
}

.flex_profile {
	align-items: center;
	display: flex;
	margin-top: 20px;
	border-bottom: 0.1px solid darkgray;
	padding-bottom: 10px;
}

.myProfileImg {
	width: 50px;
	height: 50px;
	border-radius: 20px;
	margin-right: 5px;
}

.friendDiv {
	display: flex;
	margin-bottom: 20px;
}

.name {
	text-align: initial;
	font-size: 15px;
	font-weight: bold;
}

.stateMessage {
	font-size: 12px;
}

.friendCount {
	text-align: initial;
	font-size: 13px;
	padding: 10px 0 20px;
	color: gray;
}

.seeAllFriend {
	background-color: white;
    border: none;
    cursor: pointer;
}

.friendProfileImg {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-right: 5px;
}

